@charset "UTF-8";
/* CSS Document */
section#contenidos{
	height: 950px;
}

h2.titulos{
	text-align: center;
	font-size: 40px;
	font-weight: 100;
	color: rgba(161,193,51,1.00);
	padding-top: 60px;
}
div.boxEspecial{
	width: 276px;
	height: 350px;
	float: left;
	margin-left: 7px;
	margin-right: 7px;
	margin-top: 20px;
	margin-bottom: 10px;
	background-color: tomato;
	cursor: pointer;
	-webkit-transition: all 0.35s ease-out;
	-moz-transition: all 0.35s ease-out;
	-ms-transition: all 0.35s ease-out;
	-o-transition: all 0.35s ease-out;
	transition: all 0.35s ease-out;
}
div#especial1{
	background-image: url(../img/especialidades/especialidad0.jpg);
}
div#especial1:hover{
	background-image: url(../img/especialidades/hover/especialidad0.jpg);
}
div#especial2{
	background-image: url(../img/especialidades/especialidad1.jpg);
}
div#especial2:hover{
	background-image: url(../img/especialidades/hover/especialidad1.jpg);
}

div#especial3{
	background-image: url(../img/especialidades/especialidad2.jpg);
}
div#especial3:hover{
	background-image: url(../img/especialidades/hover/especialidad2.jpg);
}

div#especial4{
	background-image: url(../img/especialidades/especialidad3.jpg);
}
div#especial4:hover{
	background-image: url(../img/especialidades/hover/especialidad3.jpg);
}

div#especial5{
	background-image: url(../img/especialidades/especialidad4.jpg);
}
div#especial5:hover{
	background-image: url(../img/especialidades/hover/especialidad4.jpg);
}
div#especial6{
	background-image: url(../img/especialidades/especialidad5.jpg);
}
div#especial6:hover{
	background-image: url(../img/especialidades/hover/especialidad5.jpg);
}

div#especial7{
	background-image: url(../img/especialidades/especialidad6.jpg);
}
div#especial7:hover{
	background-image: url(../img/especialidades/hover/especialidad6.jpg);
}

div#especial8{
	background-image: url(../img/especialidades/especialidad7.jpg);
}
div#especial8:hover{
	background-image: url(../img/especialidades/hover/especialidad7.jpg);
}
