@charset "UTF-8";
/* CSS Document */

section#contenidos{
	height: 833px;
}

div#boxAcordeon{
	width: 557px;
	height: 558px;
	position: absolute;
	top: 148px;
	left: 10px;
}
div#boxTabs{
	width: 550px;
	height: 553px;
	position: absolute;
	top: 148px;
	left: 630px;
}
div#Accordion1 img{
	width: 250px;
	float: left;
	margin-right: 20px;
}
div#Accordion1 h4{
	font-family: Arial;
	font-size: 20px;
	color: #FF5E60;
	font-weight: bold;
	margin-bottom: 20px;
	margin-top: 40px;
}
div#Accordion1 p{
	font-family: Arial;
	font-size: 14px;
	color: #FF5E60;
}
div#Tabs1 img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}
div#Tabs1 p{
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	-webkit-column-gap: 15px;
	-moz-column-gap: 15px;
	column-gap: 15px;
	font-size: 13px;
	margin-top: 10px;
	line-height: 18px;
}


